<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="mmmk webcomic">
        <meta name="author" content="mkualquiera">
        <link rel="icon" href="../../favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet"> 
        <!-- style -->
        <link href="/static/style.css" rel="stylesheet">

        <title>mmmk</title>
    </head>
    <body>
        <h1>mmmk</h1>
        <div>
            {% for episode in episode_data %}
            <a href="/episode/{{ episode['number'] }}">
                {{ episode['number'] }} - {{ episode['title'] }}
            </a><br>
            {% endfor %}
        </div>
    </body>
</html>