<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">
        <meta name="msapplication-TileColor" content="#232323">
        <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
        <meta name="theme-color" content="#2fbc8d">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="mmmk webcomic">
        <meta name="author" content="mkualquiera">
        <link rel="icon" href="../../favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet"> 
        <!-- style -->
        <link href="/static/style.css" rel="stylesheet">

        <title>mmmk</title>
    </head>
    <body>
        <h1>mmmk</h1>
        <div>
            {% for episode in episode_data %}
            <a href="/episode/{{ episode['number'] }}">
                {{ episode['number'] }} - {{ episode['title'] }}
            </a><br>
            {% endfor %}
        </div>
    </body>
</html>